@page "/About"
<body>
<h3>Other Links</h3>
      <a href="https://oilyy.github.io/mhnow_story_list/"><button>Story List</button></a>
      <a href="https://oilyy.github.io/mhnow_monster_info/"><button>Monster Info</button></a>
      <a href="https://oilyy.github.io/MonsterHunterNowTimer/"><button>Timer</button></a>
@code {

}
